
@import config.AppConfig

@this(layout: Layout,
        bullets: components.bullets,
        formHelper: FormWithCSRF,
        govukButton: GovukButton,
        dateInput: components.inputDate)

@(form: Form[_], postAction: Call)(implicit request: Request[_], messages: Messages, appConfig: AppConfig)

@layout(pageTitle = messages("fireOrFloodReason.title"),
    isPageFullWidth = false,
    formHasErrors = form.errors.nonEmpty,
    formErrors = form.errors) {
    @formHelper(action = postAction) {

        @dateInput(
            form = form,
            legendContent = messages("fireOrFloodReason.heading"),
            legendClasses = Some("govuk-fieldset__legend govuk-fieldset__legend--l"),
            hintText = Some(messages("fireOrFloodReason.hintText")),
            legendAsPageHeading = true
        )

        @govukButton(Button(content = Text(messages("common.continue"))))
    }

}
