
@import config.AppConfig
@import utils.SessionKeys

@this(layout: Layout,
        formHelper: FormWithCSRF,
        govukButton: GovukButton,
        dateInput: components.inputDate)

@(form: Form[_], postAction: Call)(implicit messages: Messages, appConfig: AppConfig, userRequest: UserRequest[_])

@appealType = @{userRequest.session.get(SessionKeys.appealType)}
@lppOrLspDynamicText = @{
    if(appealType.contains(PenaltyTypeEnum.Late_Payment.toString) || appealType.contains(PenaltyTypeEnum.Additional.toString)) {
        "healthReason.whenHealthIssueHappened.lpp.hintText"
    } else "healthReason.whenHealthIssueHappened.hintText"
}

@layout(pageTitle = getMessage("healthReason.whenHealthIssueHappened.title"),
    isPageFullWidth = false,
    formHasErrors = form.errors.nonEmpty,
    formErrors = form.errors) {
    @formHelper(action = postAction) {

        @dateInput(
            form = form,
            legendContent = getMessage("healthReason.whenHealthIssueHappened.heading"),
            legendClasses = Some("govuk-fieldset__legend govuk-fieldset__legend--l"),
            hintText = Some(getMessage(lppOrLspDynamicText)),
            legendAsPageHeading = true
        )

        @govukButton(Button(content = Text(messages("common.continue"))))
    }


}