
@import config.AppConfig

@this(layout: Layout,
        formHelper: FormWithCSRF,
        govukButton: GovukButton,
        dateInput: components.inputDate)

@(form: Form[_], postAction: Call)(implicit request: Request[_], messages: Messages, appConfig: AppConfig)

@layout(pageTitle = messages("healthReason.whenDidHospitalStayBegin.title"),
    isPageFullWidth = false,
    formHasErrors = form.errors.nonEmpty,
    formErrors = form.errors) {
    @formHelper(action = postAction) {

        @dateInput(
            form = form,
            legendContent = messages("healthReason.whenDidHospitalStayBegin.heading"),
            legendClasses = Some("govuk-fieldset__legend govuk-fieldset__legend--l"),
            hintText = Some(messages("healthReason.whenDidHospitalStayBegin.hintText")),
            legendAsPageHeading = true
        )

        @govukButton(Button(content = Text(messages("common.continue"))))
    }


}