
@import config.AppConfig
@import utils.SessionKeys

@this(layout: Layout,
        formHelper: FormWithCSRF,
        govukFileUpload: GovukFileUpload,
        govukButton: GovukButton,
        details: components.details,
        p: components.p,
        bullets: components.bullets)

@(form: Form[_], postAction: Call)(implicit request: Request[_], messages: Messages, appConfig: AppConfig)

@appealType = @{request.session.get(SessionKeys.appealType)}
@detailsContent = {
    @p(Html(messages("otherReason.uploadEvidence.details.p1")))
    @bullets(
        Seq(
            Html(messages("otherReason.uploadEvidence.details.li.1")),
            Html(messages("otherReason.uploadEvidence.details.li.2")),
            Html(messages("otherReason.uploadEvidence.details.li.3")),
            Html(messages("otherReason.uploadEvidence.details.li.4")),
            Html(messages("otherReason.uploadEvidence.details.li.5"))
        )
    )
    @p(Html(messages("otherReason.uploadEvidence.details.p2")))
}
@lppOrLspOrObligationDynamicText = @{
    if((appealType.contains(PenaltyTypeEnum.Late_Payment.toString) || appealType.contains(PenaltyTypeEnum.Additional.toString)) && request.session.get(SessionKeys.isObligationAppeal).isDefined) {
        "otherReason.uploadEvidence.appealAgainstObligation.lpp.p2"
    } else if(appealType.contains(PenaltyTypeEnum.Late_Payment.toString) || appealType.contains(PenaltyTypeEnum.Additional.toString)) {
        "otherReason.uploadEvidence.lpp.p2"
    } else if(appealType.contains(PenaltyTypeEnum.Late_Submission.toString) && request.session.get(SessionKeys.isObligationAppeal).isDefined) {
        "otherReason.uploadEvidence.appealAgainstObligation.p2"
    } else "otherReason.uploadEvidence.p2"
}

@layout(pageTitle = messages("otherReason.uploadEvidence.title"),
    isPageFullWidth = false,
    formHasErrors = form.errors.nonEmpty,
    formErrors = form.errors) {
    <h1 class="govuk-heading-l">@messages("otherReason.uploadEvidence.heading")</h1>
    <p class="govuk-body">@messages("otherReason.uploadEvidence.p1")</p>
    <p class="govuk-body">@messages(lppOrLspOrObligationDynamicText)</p>
    <p class="govuk-body">@messages("otherReason.uploadEvidence.p3")</p>
    <p class="govuk-body">@messages("otherReason.uploadEvidence.p4")</p>
    <p class="govuk-body">@messages("otherReason.uploadEvidence.p5")</p>
    @details("otherReason.uploadEvidence.details.heading", detailsContent)

    @formHelper(action = postAction) {
        @govukFileUpload(FileUpload(
            name = "upload-evidence",
            id = "upload-evidence"
        ))

        @govukButton(Button(content = Text(messages("common.continue"))))
    }
}