
@import config.AppConfig
@import utils.SessionKeys

@this(layout: Layout,
        formHelper: FormWithCSRF,
        govukFileUpload: GovukFileUpload,
        govukButton: GovukButton)

@(form: Form[_], postAction: Call)(implicit request: Request[_], messages: Messages, appConfig: AppConfig)

@lppOrLspOrObligationDynamicText = @{
    if(request.session.get(SessionKeys.appealType).contains(PenaltyTypeEnum.Late_Payment.toString) && request.session.get(SessionKeys.isObligationAppeal).isDefined) {
        //TODO: change to LPP appeal against obligation
        ""
    } else if(request.session.get(SessionKeys.appealType).contains(PenaltyTypeEnum.Late_Payment.toString)) {
        "otherReason.uploadEvidence.lpp.p2"
    } else if(request.session.get(SessionKeys.appealType).contains(PenaltyTypeEnum.Late_Submission.toString) && request.session.get(SessionKeys.isObligationAppeal).isDefined) {
        "otherReason.uploadEvidence.appealAgainstObligation.p2"
    } else "otherReason.uploadEvidence.p2"
}

@layout(pageTitle = messages("otherReason.uploadEvidence.title"),
    isPageFullWidth = false,
    formHasErrors = form.errors.nonEmpty,
    formErrors = form.errors) {
    <h1 class="govuk-heading-l">@messages("otherReason.uploadEvidence.heading")</h1>
    <p class="govuk-body">@messages("otherReason.uploadEvidence.p1")</p>
    <p class="govuk-body">@messages(lppOrLspOrObligationDynamicText)</p>
    <p class="govuk-body">@messages("otherReason.uploadEvidence.p3")</p>

    @formHelper(action = postAction) {
        @govukFileUpload(FileUpload(
            name = "upload-evidence",
            id = "upload-evidence",
            label = Label(
                classes = "govuk-label govuk-label--m",
                content = Text(messages("otherReason.uploadEvidence.uploadLabel"))
            )
        ))

        @govukButton(Button(content = Text(messages("common.continue"))))
    }
}